*.swp
.*.swp
npm-debug.log
node_modules/

# don't need these in the npm package.
html/*.png

# don't ignore .npmignore files
# these are used in some tests.
!.npmignore

/npm-*.tgz

*.pyc

/test/tap/builtin-config

.nyc_output

npm-shrinkwrap.json